# Die originalen C-Header aus der Sprachstatistik ausschließen
*.h linguist-documentation
*.c linguist-documentation

**/*.h linguist-vendored
**/*.c linguist-vendored


sandbox/ export-ignore
Package_Tools/ export-ignore
*.zip export-ignore

**/C-include/** export-ignore



